<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="MesOticalA" connectionString="metadata=res://*/MesOpticalA.csdl|res://*/MesOpticalA.ssdl|res://*/MesOpticalA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MS5;initial catalog=LightMasterMes;persist security info=True;user id=sa;password=lm2011;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
   
    <add name="NBOSAEntities" connectionString="metadata=res://*/NBosaOpticalA.csdl|res://*/NBosaOpticalA.ssdl|res://*/NBosaOpticalA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MS5;initial catalog=NBOSA;persist security info=True;user id=sa;password=lm2011;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  
    <add name="MesAttachEntities" connectionString="metadata=res://*/MesAttach.csdl|res://*/MesAttach.ssdl|res://*/MesAttach.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MS589;Initial Catalog=MesAttach;Persist Security Info=True;User ID=sa;Password=lm2011;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />

    <add name="NBOSABigDataEntities" connectionString="metadata=res://*/NBOSABigData.csdl|res://*/NBOSABigData.ssdl|res://*/NBOSABigData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MS5;initial catalog=NBOSABigData;persist security info=True;user id=sa;password=lm2011;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
    	<dependentAssembly>
				<assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31BF3856AD364E35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
			</dependentAssembly>
		  <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
